nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  img {
    cursor: pointer;
  }

  ul {
    list-style-type: none;
    display: flex;

    li {
      margin: 0 10px;
      cursor: pointer;

      @media only screen and (max-width: 900px) {
        display: none;
      }
    }

    .icone {
      display: none;
    }

    .icone {
      @media only screen and (max-width: 900px) {
        display: block;
      }
    }
  }
}
